header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5px 10px;
  background-color: #fff;
  border-bottom: 3px solid #e5e7eb;
  flex-wrap: nowrap;
  box-sizing: border-box;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1px;
  flex-shrink: 0;
}

.logo-symbol {
  height: 60px;
  width: auto;
  display: block;
}

.logo-text {
  height: 60px;
  width: auto;
  display:block;
}

nav {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 30px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-family: "Segoe UI", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  font-size: 1rem;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #2ba24c;
}

.about-container {
    display: flex;
    min-height: 90vh;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    gap: 40px;
    padding: 80px 40px;
    box-sizing: border-box;
    background-image: 
        linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)),
        url("about-background.jpg");
    background-size: cover;
    background-position: center;
}

.contact-info {
    background-color: #ffffff;
    padding: 10px 30px;
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    flex: 1;
    min-width: 25vw; /* 25% of viewport width */
    max-width: 35vw; /* 35% of viewport width */
    min-height: 60vh; /* 50% of viewport height */
    max-height: 70vh; /* Maximum 70% of viewport height */
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-info h2 {
    margin-top: 5px;
    margin-bottom: 10px;
}

.contact-form {
    background-color: #ffffff;
    padding: 20px 30px;
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    flex: 1;
    min-width: 25vw; /* 25% of viewport width */
    max-width: 35vw; /* 35% of viewport width */
    min-height: 58vh; /* 50% of viewport height */
    max-height: 70vh; /* Maximum 70% of viewport height */
}

.contact-form h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

.contact-form label {
    display: block;
    font-weight: 500;
    margin-bottom: 10px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    font-family: inherit;
    box-sizing: border-box;
}

.contact-form button {
    background-color: #2ba24c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    display: block;
    margin: 0 auto;
}

.contact-form button:hover {
    background-color: #23853e;
}